.background{
  display: flex;
  background-image: url('../../assets/img/b.png');
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
};

.login{
  color:black;
  font-weight: 400;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 25px;
};

.formLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #C5C5C5 ;
  width: 487px;
  height: 642px;
};

.logo {
  padding: 35px 35px 20px 35px;
  max-width: 80%;
}

.botao{
  margin: 20px;
  width: 320px;
  height: 39px;
  left: 359px;
  top: 465px;
  background-color: #76bb4c;
  border-radius: 10px;
}
Button {
  background-color: #76bb4c;
}

.input{
  text-align: center;
  width: 335px;
  height: 39px;
}

.link{
  color: black;
}




