.Header {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.Header img {
    width: 15rem;
    height: 3.875rem;
    margin-left: 2rem;
}

.Header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.Header div p {
    color: var(--green);
    border-right: 1px solid var(--green);
    padding: 1rem;
    width: 8.625rem; /* alterar depois */
    font-size: 1.5rem;      
}

.Header div button {
    border: none;
    background: none;
    padding: 1rem;
    color: var(--purple-300);
}

/* Adicionar a quebra da logo (centralizar) e adicionar o menu hamburguer (para a direita) no mobile */
/* @media (max-width: 768px) {
    .header {

    }
} */