.wrapper {
    max-width: 44rem;
    margin: auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
} 
.body{
    display: flex;
    flex-direction: row;
   
}
.leftBody{
    flex: 1;
}

.rightBody{
    flex: 6;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;   
    margin: 50px;
    width: 100%;
       
}
